ol {
    list-style-type: none;
}

h3 {
    color: white;
    text-align: center;
}

input {
    margin-top: 10px;
}

button {
    margin-top: 10px;
}

.letra {
    width: 70px;
    height: 70px;
}

#targetDiv {
    height: 300px;
    background: cornflowerblue;
}

.invisible {
    visibility: hidden;
    width: 70px;
    height: 70px;
}